th, td {
    padding: 1rem;
}

table {
    border-collapse: collapse;
}

tr {
    border-radius: 0.25rem;
}

tr:nth-child(even) {
    background-color: var(--background-color);
}

tr:hover {
    background-color: rgb(208, 157, 12, 0.5); 
    color: #fff;
}