:root {
  --primary-color: #d09d0c;
  --secondary-color: #9c6334;
  --background-color: #faf9f6;
}

#root {
  height: 100dvh;
  font-family: Arial;
  background-color: var(--background-color);
}

.btn-accent {
  background: var(--primary-color);
  color: #fff;
}

.nav-link:hover {
  position: relative;
  color: #fff !important;
  z-index: 1;
}

.side-navbar .nav-link:hover::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: var(--primary-color);
  opacity: 0.7;
  border-radius: 0.5rem;
  z-index: -1;
}

.side-navbar .nav-link-active {
  position: relative;
  color: #fff !important;
  z-index: 1;
}

.nav-link-active::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: var(--primary-color);
  opacity: 0.7;
  border-radius: 0.5rem;
  z-index: -1;
}

.entity-layout {
  background-color: #fff;
  margin-top: auto;
  margin-bottom: auto;
  height: 75dvh;
  overflow-y: auto;
}

.tab-content {
  max-height: 90%;
  overflow-y: auto;
}

.nav-item {
  color: #0000 !important;
}

.nav-item.active {
  color: var(--primary-color) !important;
}

.entity-layout .nav-link {
  color: var(--secondary-color) !important;
}

.entity-layout .nav-link.active {
  color: var(--primary-color) !important;
}

.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    z-index: 900;
    top: 0;
    inset: 0;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.my-modal {
    position: absolute;
    background-color: #fff;
    z-index: 999;
}

.my-modal-content {
    max-height: 80vh;
    overflow-y: auto;
}

@media (max-width: 500px) {
  .entity-layout {
    max-height: 100dvh;
  }
}
