.data-table {
  border-collapse: collapse;
  overflow-x: auto;
}

.data-table :nth-child(even) {
  background-color: var(--background-color);
}

.data-table a {
  color: var(--secondary-color);
}

.table-wrapper {
  overflow-x: auto;
}
