th,
td {
  padding: 1rem;
  white-space: nowrap;
}

th {
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  overflow-x: auto;
}

tr {
  border-radius: 0.25rem;
}

tr:nth-child(even) {
  background-color: var(--background-color);
}

tr:hover {
  background-color: rgb(208, 157, 12, 0.5);
  color: #fff;
}

table a {
  color: var(--secondary-color);
}

.table-wrapper {
  overflow-x: auto;
}
