<div class="background">
    <div class="login-form bg-white p-3 rounded-3 shadow-sm">
        <form class="rounded-3 shadow-sm">
            <div>
                <label class="text-danger" for="username">Username</label>
                <input class="form-control" id="username" name="username" />
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" name="password" type="password" />
            </div>
        </form>
    </div>
</div>